/* Fonts */

html * {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Name */

header h1 {
    padding-left: 15%;
}

/* Front page */

main {
    text-align: center;
}

.grey {
    color: grey;
}

/* Instructions */

.instructions, .contact, .menu-title {
    text-align: center;
}

.card {
   display: grid;
   grid-template-columns: auto auto auto;

   padding-left: 25%;
   padding-right: 25%;

   background-color: aliceblue;
}

.card-item img {
    max-width: 100px;
}

.card-item {
    text-align: center;
}

/* Number */

.number {
    color: orange
}

/* Menu */

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 30%;

    padding-left: 20%;
    padding-right: 20%;
 }

 .menu>* {
    flex: 1 1 160px;
 }
 
 .menu-item img {
     max-height: 300px;
 }
 
 .menu-item {
    padding-bottom: 50px;
    text-align: center;
 }

.price {
    font-size: large;
}

.disclaimer {
    font-size: small;
    color: grey;
}

/* Footer */

.copyright {
    text-align: center;
    font-size: small;
    color: grey;
}
